<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd ">
	<context:property-placeholder
		location="classpath:com/luqili/config/jdbc.properties" />
	<!-- 加载配置文件 -->
	<bean id="resourceRoot" class="com.luqili.version.ResourceRoot"
		scope="singleton">
		<constructor-arg index="0" value="${myapp_version}"></constructor-arg>
	</bean>
	<!-- 控制静态资源版本号 -->
	<context:component-scan base-package="com.luqili"></context:component-scan><!-- 
		扫描路径,使用注解管理JavaBean -->
	<!-- MyBatis整合 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:com/lu/db/beans/mappers/*.xml" />
		<!-- <property name="configLocation" value="WEB-INF/conf/mybatis.xml" /> -->
	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close" p:driverClass="${jdbc.driverClass}" p:jdbcUrl="${jdbc.url}"
		p:user="${jdbc.user}" p:password="${jdbc.password}">
		<property name="minPoolSize" value="5"></property>
		<property name="maxPoolSize" value="30"></property>
		<property name="initialPoolSize" value="10"></property>
		<property name="maxIdleTime" value="60"></property>
		<property name="acquireIncrement" value="5"></property>
		<property name="maxStatements" value="0"></property>

		<property name="idleConnectionTestPeriod" value="60"></property>
		<property name="acquireRetryAttempts" value="30"></property>
		<property name="acquireRetryDelay" value="1000"></property>
		<property name="testConnectionOnCheckout" value="false"></property>
		<property name="breakAfterAcquireFailure" value="false"></property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"></constructor-arg>
	</bean>
		
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.luqili.db.beans.mappers" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	
	
	<tx:annotation-driven transaction-manager="transactionManager" />


</beans>